@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

 /*  wildcard selector Asterix used to override  default styles added by the browser */

 * {
     padding: 0;
     margin: 0;
     box-sizing: 0;
 }

 /* General Style*/
 
 body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
 }

.game-area {
    position: fixed;
    top: 20%;
    left:1px;
    width: 360px;
    height: 480px;
    border: 4px solid rgb(6, 121, 67);
    box-sizing: border-box;   
    
}

.cpu {
    background-color: green;
    color: white;
    display: inline;
    font-size: x-large;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
  }
  
#digits{
    display: block;
    margin-top: 15px;
    height: 60px;
}

.btn {   
    font-size: 16px;
    background-color: blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius:8px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}




 div {
    background-color: orange;
    margin:5px 10px 5px 17px;
    width: 90%;
    height: 110px;
    text-align: center;
 }

 label {
    background-color: green;
    color: white;
    padding: 20px 18px;
    margin-top:10px;
    display:inline-block;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }

 input {
    width: 3rem;
    height: 3rem;   
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }

/* Media query: iPad pro and larger (540px and up) */
@media screen and (min-width: 540px) {

    .game-area{
        left: 80px;
    }
}



 /* Media query: iPad pro and larger (768px and up) */
@media screen and (min-width: 768px) {

    .game-area{
        left: 200px;
    }
}

/* Media query: iPad pro and larger (912px and up) */
@media screen and (min-width: 912px) {

    .game-area{
        left: 260px;
    }
}



/* Media query: iPad pro and larger (1024px and up) */
@media screen and (min-width: 1024px) {

    .game-area{
        left: 310px;
    }
}


/* Media query: iPad pro and larger (1280px and up) */
@media screen and (min-width: 1280px) {

    .game-area{
        left: 450px;
    }
}

/* Media query: iPad pro and larger (1480px and up) */
@media screen and (min-width: 1480px) {

    .game-area{
        left: 720px;
    }
}