@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

 /*  wildcard selector Asterix used to override  default styles added by the browser */

 * {
     padding: 0;
     margin: 0;
     box-sizing: 0;
 }

 /* General Style*/
 body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
 }